{% extends "core/base.html" %}
{% block title %}Nueva orden {% endblock title %}
{% load static%}
{% load humanize %}
{% block content%}
<div class="row pb-3 border-4 border-bottom">
	<h1 class="text-center"><i class="bi bi-journal-plus"></i> Agregar nueva orden</h1>
</div>
<div class="row">
	<!--Lista de categorias-->
	<div class="col-lg-2 col-md-5 py-3">
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Categorias</h4>
		</div>
		<div class="list-group list-group-flush mt-2 border-2 border-bottom" id="div_categories">
			{% for category in categories %}
			<button type="button" id="btn_categories_list_{{category.id}}" class="list-group-item list-group-item-action" onclick="list_product({{category.id}})"><b>{{category.name}}</b></button>
			{% endfor %}
		</div>
	</div>
	<!--lista de productos-->
	<div class="col-lg-5 col-md-7 py-3 ">
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Productos</h4>
		</div>
		<div class=" mt-2" >
			<ul class="list-group list-group-flush" id="list_product">
			</ul>
		</div>
	</div>
	<!--Pedido final-->
	<div class="col-lg-5 py-3">
		{% csrf_token %}
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Pedido</h4>
		</div>
		<div class=" mt-2">
			<ul class="list-group list-group-flush " id="detail_list">
					{% for detail in list_detail%}
					<button class="list-group-item d-flex justify-content-between align-items-center" id="product_detail_{{detail.product.code}}" onclick="get_detail_order({{detail.pk}},{{detail.product.code}})" > 
						{{detail.product.name}}
						<span class='badge bg-primary rounded-pill px-4' id='quantity_span_{{detail.product.code}}'>{{detail.quantity_product}}</span>
					</button>
					{% endfor %}
			</ul>
			{%if order %}
			<ul class="list-group list-group-flush pt-2 border-2 border-top" id="footer_order_list">
				<li class="list-group-item text-end" id='total_price'>
					<h6><b>Total: </b>${{order.total_price | intcomma}}</h6>
				</li>
				<button type="button" id='btn_send_order' class="btn btn-outline-primary" onclick="update_order({{order.pk}})"><i class="bi bi-send-plus-fill"></i> Enviar</button>
			</ul>
			{%else%}
			<ul class="list-group list-group-flush pt-2 border-2 border-top	" id="footer_order_list">
				<li class="list-group-item text-end" id='total_price'>
					<h6> <b>Total: </b> $ 0 </h6>
				</li>
				<button type="button"  id='btn_send_order' class="btn btn-outline-primary disabled" onclick="add_order({{table}})"><i class="bi bi-send-plus-fill"></i> Enviar</button>
			</ul>
			{%endif%}
		</div>
	</div>
</div>

{% include 'work_order/modal_order.html' %}

{% endblock%}

{% block js%}
<script src="{% static '/work_order/js/add_order_style.js' %}"></script>
{%if order %}
<script>
	detail_order.total_price = {{order.total_price}}
</script>
{% endif %}
{% endblock %}