{% extends "core/base.html" %}
{% block title %}Nueva orden {% endblock title %}
{% load static%}
{% block content%}
<div class="row pb-3 border-4 border-bottom">
	<h1 class="text-center"><i class="bi bi-journal-plus"></i> Agregar nueva orden</h1>
</div>
<div class="row">
	<!--Lista de categorias-->
	<div class="col-lg-2 col-md-5 py-3">
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Categorias</h4>
		</div>
		<div class="list-group list-group-flush mt-2 border-2 border-bottom" id="div_categories">
			{% for category in categories %}
			<button type="button" id="btn_categories_list_{{category.id}}" class="list-group-item list-group-item-action" onclick="list_product({{category.id}})"><b>{{category.name}}</b></button>
			{% endfor %}
		</div>
	</div>
	<!--lista de productos-->
	<div class="col-lg-5 col-md-7 py-3 ">
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Productos</h4>
		</div>
		<div class=" mt-2" >
			<ul class="list-group list-group-flush" id="list_product">
			</ul>
		</div>
	</div>
	<!--Pedido final-->
	<div class="col-lg-5 py-3">
		{% csrf_token %}
		<div class="border-3 border-bottom">
			<h4 class="text-center"><i class="bi bi-journal-text"></i> Pedido</h4>
		</div>
		<div class=" mt-2">
			<ul class="list-group list-group-flush " id="detail_list">
				
			</ul>
			<ul class="list-group list-group-flush pt-2 border-2 border-top	visually-hidden" id="footer_order_list">
				<li class="list-group-item text-end" id='total_price'>
				</li>
				<button type="button" class="btn btn-outline-primary" onclick="add_order({{table}})"><i class="bi bi-send-plus-fill"></i> Enviar</button>
			</ul>
		</div>
	</div>
</div>
<!--MODAL  agregar producto -->
<div class="modal fade" id="modal_add_product" tabindex="-1" aria-labelledby="modal_add_product_Label" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title " id="name_product"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body ">
				<div class="container-fluid">
						<div class="row col-md-5 mx-auto">
							<h6 class="text-center">Cantidad</h6>
							<div class="input-group"  >
								<button class="btn btn-primary" type="button" id="btn_decrease_quantity"onclick="decrease_quantity()" disabled><i class="bi bi-dash-circle"></i></button>
								<input id="quantity" type="number" id="quantity" min="0" class="form-control" placeholder="0" style="text-align: center" disabled>
								<button class="btn btn-primary" type="button" id="btn_increase_quantity" onclick="increase_quantity()"><i class="bi bi-plus-circle"></i></button>
							</div>
						</div> 
						<div class="form-floating mt-4">
							<textarea class="form-control" placeholder="Leave a comment here" id="order_comment" rows="5" style="height: initial;"></textarea>
							<label for="order_comment">Comentarios</label>
						</div>
				</div>

			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-danger visually-hidden" data-bs-dismiss="modal" id='btn_del_product' disabled>Eliminar</button>
				<button type="button" class="btn btn-primary" id="btn_modal_product"  data-bs-dismiss="modal" disabled>Añadir</button>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block js%}
<script src="{% static '/work_order/js/add_order_style.js' %}"></script>

{% endblock %}