{% extends 'core/base.html' %}

{% block content %}
<ul>
    {% for category in categories %}
    <li><button type="btn" id="btn_{{category.id}}" onclick="peticion({{category.id}})">{{category.name}}</button></li>
    {% endfor %}
</ul>

{% endblock content %}
{% block js %}

<script>
    function peticion(id_category){
        $.ajax({
            url: '/order/peticion/',
            type: 'GET',
            data: {'id_category':id_category},
            dataType: 'json',
            success: function(data){
                console.log(data);
            }
        })
    }   
    
</script>
{% endblock js %}