{% extends 'core/base.html' %}
{% block title %}Lista de categorias{% endblock title %}
{% block content %}
<!--Encabezado -->
<div class="container">
	<div class="row col-md-12 border-bottom pb-4">
		<div class="col-md-9 mt-3">
			<h1 class="text-center"><i class="bi bi-journal-bookmark-fill"></i> Lista de categorias</h1>
		</div>
		<div class="col-md-3 mt-4">
			<button type="button" class="btn btn-outline-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Añadir
				categoria</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt-4 table-responsive">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Estado</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for category in object_list%}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{category.name}}</td>
					<td>{{category.description}}</td>
					{% if category.status%}
					<td><span class="badge bg-success p-2">Activo</span></td>
					{% else %}
					<td><span class="badge bg-danger p-2">Inactivo</span></td>
					{% endif %}
					<td>
						<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
							data-bs-target="#exampleModal">
							<i class="bi bi-pencil-square"></i> Editar
						</button>
						<a href="#" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash-fill"></i> Eliminar</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header pb-3">
				<h5 class="modal-title " id="exampleModalLabel">Hamburguesas</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="floatingInput" value="Hamburguesas">
						<label for="floatingInput"><b>Nombre:</b></label>
					</div>
					<div class="form-floating mb-3">
						<textarea class="form-control" id="floatingTextarea">Tipos de hamburguesas</textarea>
						<label for="floatingTextarea"><b>Descripción</b></label>
					</div>
					<div class="form-floating mb-3">
						<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
							<option value="1" selected>Activo</option>
							<option value="2">Inactivo</option>
						</select>
						<label for="floatingSelect">Estado</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>
{% endblock%}