
<div class="modal fade" id="modal_confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                <h5>¿Deseas eliminar?</h5>
                <p>Estas seguro que deseas eliminar el producto</p>
                <h6 id="name_product"></h6>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" id='btn_confirm_delete' class="btn btn-lg btn-link link-danger fs-6 text-decoration-none col-6 m-0 rounded-0 border-right border-end " ><strong>Si, Eliminar</strong></button>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">No gracias</button>
            </div>
        </div>
    </div>
</div>