{% extends 'core/base.html' %} {% load static%} {% block title%} Lista Productos {% endblock%} {%block content%}
<!--encabezado-->
<div class="row mb-4">
    <div class="col-md-10">
        <h1 class="text-center"><i class="bi bi-journal-bookmark-fill"></i> Lista de productos</h1>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_product" onclick='clean_modal()'>
			<i class="bi bi-file-earmark-plus"></i>
			Añadir Producto
		</button>
    </div>
</div>
<!--Div formulario de busqueda producto-->
<div class="row mb-3 ">
    <div class="col-md-6">
        <form action="{% url 'product:list_products'%}" method='GET'>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name='name_product' placeholder="Buscar producto" aria-label="Buscar producto" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="submit"><i class="bi-search"></i> Buscar</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form  action="{% url 'product:list_products'%}" method="GET">
			<select class="form-select" aria-label="buscar categoria" name='category' id='filter_category' onchange="this.form.submit()">
				<option selected disabled>Filtrar productos por categoria</option>
				<option value="all">Todos los productos</option>
				{% for category in categorys %}
                
				<option value={{category.id}}>{{category.name}}</option>
				{% endfor %}
			</select>
        </form>
    </div>
</div>

<!--Div tabla productos-->
<div class=" row ">
    <table class="table table-hover table-responsive ">
        <thead>
            <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Nombre</th>
                <th scope="col ">Precio de venta</th>
                <th scope="col ">Estado</th>
                <th scope="col ">Categoria</th>
                <th scope="col ">Accion</th>
            </tr>
        </thead>
        <tbody id='body_table'>
            {% for product in object_list %}
            <tr id='item_list_{{product.code}}' >
                <td><b>{{product.code}}</b></td>
                <td>{{product.name}}</td>
                <td>{{product.sale_price}}</td>
                {% if product.status %}
                <td> <span class="badge bg-success p-2 ">Activo</span></td>
                {% else %}
                <td><span class="badge bg-danger p-2  ">Inactivo</span></td>
                {% endif %}
                <td>{{product.category.name}}</td>
                <td>
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick='get_update_product({{product.id}})'><i class="bi bi-pencil "></i> Editar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm " onclick="confirm_delete('{{product.name}}',{{product.id}})""><i class="bi bi-trash "></i> Eliminar</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% include 'product/product_form.html' %}
{% include 'product/confirm.html' %}
{% endblock%}
{% block js%}
    <script src="{% static '/product/product/js/style.js' %} "></script>

{% endblock %}