{% extends "core/base.html" %}
{% block title %}Nueva orden {% endblock title %}

{% block content%}
<div class="row pb-3 border-4 border-bottom">
    <h1 class="text-center"><i class="bi bi-journal-plus"></i> Agregar nueva orden</h1>
</div>
<div class="row mt-2">
    <div class="col-lg-2 ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Categorias</h4>
        </div>
    </div>
    <div class="col-lg-6  ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Productos</h4>
        </div>
    </div>
    <div class="col-lg-4  ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Pedido</h4>
        </div>
    </div>
</div>

{% endblock%}