{% extends "core/base.html" %}
{% block title %}Nueva orden {% endblock title %}

{% block content%}
<div class="row pb-3 border-4 border-bottom">
    <h1 class="text-center"><i class="bi bi-journal-plus"></i> Agregar nueva orden</h1>
</div>
<div class="row my-3">
    <div class="col-lg-2 ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Categorias</h4>
        </div>
        <div class="list-group list-group-flush mt-2 border-2 border-bottom">
            <button type="button" class="list-group-item list-group-item-action">Asado</button>
            <button type="button" class="list-group-item list-group-item-action">Adiciones</button>
            <button type="button" class="list-group-item list-group-item-action" >Bebidas</button>
            <button type="button" class="list-group-item list-group-item-action active">Hamburguesa</button>
            <button type="button" class="list-group-item list-group-item-action">Perro caliente</button>
            <button type="button" class="list-group-item list-group-item-action">Sandwich</button>
           
        </div>
    </div>
    <div class="col-lg-6 ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Productos</h4>
        </div>
        <div class="list-group list-group-flush mt-2 border-2 border-bottom">
            <button type="button" class="list-group-item list-group-item-action"><b>1.</b> Hamburguesa sencilla</button>
            <button type="button" class="list-group-item list-group-item-action"><b>2.</b> Hamburguesa con tocineta</button>
            <button type="button" class="list-group-item list-group-item-action"><b>3.</b> Hamburguesa con pollo</button>
            <button type="button" class="list-group-item list-group-item-action"><b>4.</b> Hamburguesa con pollo y tocineta</button>
            <button type="button" class="list-group-item list-group-item-action"><b>5.</b> Hamburguesa con pollo y champiñones</button>
            <button type="button" class="list-group-item list-group-item-action"><b>6.</b> Hamburguesa con pollo parilla</button>
            <button type="button" class="list-group-item list-group-item-action"><b>7.</b> Hamburguesa con pollo parilla y tocineta</button>
            <button type="button" class="list-group-item list-group-item-action"><b>8.</b> Hamburguesa angus</button>
            <button type="button" class="list-group-item list-group-item-action"><b>9.</b> Hamburguesa angus doble</button>
            <button type="button" class="list-group-item list-group-item-action"><b>10.</b> Hamburguesa ranchera</button>
            <button type="button" class="list-group-item list-group-item-action"><b>11.</b> Hamburguesa doble carne</button>
            <button type="button" class="list-group-item list-group-item-action"><b>12.</b> Hamburguesa doble carne tocineta</button>
            <button type="button" class="list-group-item list-group-item-action"><b>13.</b> Hamburguesa tocineta</button>
        </div>
    </div>
    <div class="col-lg-4  ">
        <div class="border-3 border-bottom">
            <h4 class="text-center"><i class="bi bi-journal-text"></i> Pedido</h4>
        </div>
    </div>
</div>

{% endblock%}