{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de pedidos{% endblock title %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-10">
        <h1 class="text-center"><i class="bi bi-journal-bookmark-fill"></i> Lista de mesas</h1>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_table"  onclick='clean_modal_table()'>
			<i class="bi bi-file-earmark-plus"></i>
			Añadir Mesa
		</button>
    </div>
</div>
<div class="row mt-4" id='table_list'> 
    {% for table in object_list %}
    <div class="col-lg-2 text-center mb-4">
        <div class="card" >
            <img src="{% static 'images/mesa.jpg' %}" style='width: 100%; ' class="img-fluid" alt="...">

            
            {% if table.status %}
            {% for order in order_list %}
            {% if order.table == table %}

            <div class="card-body bg-warning " id='table_{{table.table_number}}'>
                <a href='/' class=" link-light stretched-link" onclick='get_order({{order.id}})' style="text-decoration:none" data-bs-toggle="modal" data-bs-target="#modal_description_order"><b>Mesa {{table.table_number}}</b></a>
            </div>
            {% endif %}
            {% endfor%}
            {% else %}
            <div class="card-body bg-primary " id='table_{{table.table_number}}'>
                <a href="{% url 'order:order' table.table_number %}" class=" link-light stretched-link" style="text-decoration:none" ><b>Mesa {{table.table_number}}</b></a>
            </div>
            
            {% endif%}
        </div>
       
    </div>

    {% endfor %}
    {{orders}}
</div>
{% include 'table/modal_order_detail.html' %}
{% include 'table/table_form.html' %}
{% endblock content %}
{% block js%}
<script src="{% static '/work_order/js/order_management.js' %}"></script>
{% endblock %}