
<div class="modal fade " id="modal_table" tabindex="-1 " aria-labelledby="exampleModalLabel" aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="title_modal">Crear nueva mesa</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid ">
                    <form action="{% url 'product:create_product'%}" method="POST" id="form_product" autocomplete='off'>
                        <div class="mb-3 row">
                            <div class="col-md-4">
                                <label for="num_table" class="col-form-label">
                                    <b>Número de mesa</b>
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input type="number" name="num_table" class="form-control" placeholder="Número de mesa"  id="num_table">
                                <div class="invalid-feedback " id="invalid_code">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-outline-danger " data-bs-dismiss="modal"><i class="bi bi-file-earmark-x-fill"></i> Cancelar</button>
                <button type="button " class="btn btn-outline-primary " id='btn_add' onclick="create_product()"><i class="bi bi-file-earmark-plus-fill"></i> Guardar</button>
                <button type="button " class="btn btn-outline-primary visually-hidden" id='btn_upd'><i class="bi bi-file-earmark-plus-fill"></i> Actualizar</button>
            </div>
        </div>
    </div>
</div>